@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #17a2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    /* Limiter la largeur du formulaire */
}

h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

hr {
    margin: 10px 0;
    background-color: #ccc;
    border: 0;
    height: 1px;
    width: 100%;
}

.name-field {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name-field div {
    display: flex;
    flex-direction: column;
    width: 49%;
}

label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border: 1px solid #17a2b8;
    box-shadow: 0 0 5px rgba(23, 162, 184, 0.5); /* Un léger effet de focus */
}

input[type="submit"] {
    margin-top: 15px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #138496;
}

p {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}

p a {
    text-decoration: none;
    color: #17a2b8;
}

p a:hover {
    text-decoration: underline;
}